<!--
In our home.handlebars template,
we take the component markup that
we generated in our routes,
and insert at markup
-->

<section id="react-app">{{{ markup }}}</section>
<script id="initial-state" type="application/json">{{{ state }}}</script>